
    
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

    
body { 
  background: url(pics/mario.jpg)no-repeat center center fixed; 
   background-size:cover;
   /* width:600px;
    height:600px;
     */   
  
}
#icon{
    
    background-image:url(pics/odla.png);
    background-size:cover;
    
    width:100px;
    height:100px;
    
    
}
#icon1{

width:40px;
height:40px;
}

#popup
	{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		height:350px;
		width:250px;
		background-color:green;
		
	}
#container
	{
		height: 350px;
		width: 250px;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 500px;
	}
	#header
	{
		border: 1px solid black;
		background-color:gray;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px -1px 0px;

	}
	
#footer
	{
		width: 243px;
		height: 21px;
		margin: -1px 0px 0px 0px;
		padding: 0px 0px 0px 5px;
		border: 1px solid black;
		background-color:gray;
	}

#kryss
	{
	    
		float:right;
		width: 20px;
		height:20px;
		
	}
	
#loader
	{
		width:10px;
		height:10px;	
		padding: 0px 0px 0px 0px;
		margin: 2px 0px 0px 0px;
	}
	
#middle
	{
		background-color:#C0C0C0;
		border: 1px solid black;
		height:300px;
		width:248px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		overflow-x:auto;
		overflow-y:auto;
	}
	
#Ploader
	{
		padding: 0px 0px 0px 0px;
		margin: 5px 160px 0px 0px;
		float:right;
	}
.imgDiv
	{
		display:inline-block;
		background-color:gray;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	
.lotsOfPics
	{
		display:block;
		margin-right: auto;
		margin-left: auto;
		
	}
	
.piclink
	{
		margin: 0px 2px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

#iconText
	{
		margin: -18px 0px 0px 0px;
		padding: 0px 0px 0px 30px;
	}
	
#gone
	{
		display:none;
	}



/*;*/